.footer{
    background-image:linear-gradient(to left,#0b0131,#00000000),url("https://s2.bunnycdn.ru/assets/_9anime/imagesv3/bg-footer.jpg");
    background-color: #000;
    background-position: center;
    background-size: cover;
    width:100svw;
    height:30svh;
    margin-top: 0.5rem;
    position: relative;
    padding: 0.5rem;
    color:#929090;
    font-family: serif;
    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-self: center;
    width:100%;
    border-bottom: 1px solid #fff;
    padding: 0.5rem;
    height: 80%;
}

.logo{
    position: relative;
    width:10rem;
    height:5rem;
    scale: 1.2;
    background: url("../Assets/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.btn{
    z-index: 1;
    width:8rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    background-color: #fff;
    color:#000;
    cursor: pointer;
    margin-left: 0.8rem;
}